# Exploring pokemon dataset

### this notebook won't run unless the .ipynb file and the .csv file are in the same folder 
### if you are having problems with the directory copy the absolute path

In [ ]:
#step one import libraries
#pandas will help read any csv files that we use for the dataset we are working with
import pandas as pd

#numpy is there to help with arithmeticas among other things
import numpy as np

In [ ]:
#step two read the dataset and assign it to a variable 
#I used an absolute path to make it easier for the library to detet where the dataset was but is optional 
#note please make sure the directory is the same as mine when testing or edit to match the directory in which the dataset is located
pokemon = pd.read_csv("/content/pokemon_viz.csv")

In [ ]:
#check to see if it's working with .head()
#head will override, so I use comments to make sure I'm running the one I want to see. 
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,NaN,194.0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,NaN,10.0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,NaN,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,NaN,NaN
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,NaN,NaN

### What is the total pokemon from each generatio?

In [ ]:
pokemon_gen = pokemon["Generation"].value_counts()
print(pokemon_gen)

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

### How many pokemon belong to each type?

In [ ]:
poketype = pokemon["Type 1"].value_counts()
print(poketype)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

### This is a crossbar of type one and two as you can see it shows how many pokemon are of two types.

In [ ]:
poketypes = pd.crosstab(pokemon["Type 1"], pokemon["Type 2"])
print(poketypes)

Type 2    Bug  Dark  Dragon  Electric  Fairy  Fighting  Fire  Flying  Ghost  \
Type 1
Bug         0     0       0         2      0         2     2      14      1
Dark        0     0       3         0      0         2     3       5      2
Dragon      0     0       0         1      1         0     1       6      0
Electric    0     0       1         0      1         0     1       5      1
Fairy       0     0       0         0      0         0     0       2      0
Fighting    0     1       0         0      0         0     0       1      0
Fire        0     0       1         0      0         7     0       6      0
Flying      0     0       2         0      0         0     0       0      0
Ghost       0     1       2         0      0         0     3       2      0
Grass       0     3       1         0      2         3     0       5      0
Ground      0     3       2         1      0         0     1       4      2
Ice         0     0       0         0      0         0     0       2      1
Normal      0     0       0         0      5         2     0      24      0
Poison      1     3       1         0      0         2     0       3      0
Psychic     0     1       0         0      6         3     1       6      1
Rock        2     2       2         0      3         1     0       4      0
Steel       0     0       1         0      3         1     0       1      4
Water       0     6       2         2      2         3     0       7      2

Type 2    Grass  Ground  Ice  Normal  Poison  Psychic  Rock  Steel  Water
Type 1
Bug           6       2    0       0      12        0     3      7      1
Dark          0       0    2       0       0        2     0      2      0
Dragon        0       5    3       0       0        4     0      0      0
Electric      1       0    1       2       0        0     0      3      1
Fairy         0       0    0       0       0        0     0      0      0
Fighting      0       0    0       0       0        3     0      2      0
Fire          0       3    0       2       0        2     1      1      1
Flying        0       0    0       0       0        0     0      0      0
Ghost        10       0    0       0       4        0     0      0      0
Grass         0       1    3       0      15        2     0      2      0
Ground        0       0    0       0       0        2     3      1      0
Ice           0       3    0       0       0        2     0      0      3
Normal        2       1    0       0       0        2     0      0      1
Poison        0       2    0       0       0        0     0      0      1
Psychic       1       0    0       0       0        0     0      0      0
Rock          2       6    2       0       0        2     0      3      6
Steel         0       2    0       0       0        7     3      0      0
Water         3      10    3       0       3        5     4      1      0

In [ ]:
# pokemon: how many Flying types have a speed higher than 100
normalSpeed30 = pd.crosstab(index = pokemon["Type 2"] == "Flying", columns = pokemon["Speed"] > 100)
normalSpeed30

Speed   False  True
Type 2
False     619    84
True       75    22

In [ ]:
#What are the 10 pokemon with the fastest speeds?
pokemon.sort_values(by = "Speed", ascending = False, inplace=True)
fastestPokemon = pokemon["Name"] #+ " " + str(pokemon["Speed"])
speedsOfpokemon = pokemon["Speed"]
# I faces a lot of issues concatinating the speed part so I left it only with the names of the pokemon
print(fastestPokemon.head(10))
print(speedsOfpokemon.head(10))

431            DeoxysSpeed Forme
315                      Ninjask
428           DeoxysNormal Forme
154    AerodactylMega Aerodactyl
71         AlakazamMega Alakazam
429           DeoxysAttack Forme
19         BeedrillMega Beedrill
275        SceptileMega Sceptile
678                     Accelgor
109                    Electrode
Name: Name, dtype: object
431    180
315    160
428    150
154    150
71     150
429    150
19     145
275    145
678    145
109    140
Name: Speed, dtype: int64

In [ ]:
#out of gen 5 how many pokemons have a speed greater than 100
normalSpeed30 = pd.crosstab(index = pokemon["Generation"] == 5, columns = pokemon["Speed"] > 100)
normalSpeed30

Speed       False  True
Generation
False         558    77
True          136    29